<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="LelShotter" Language="1033" Version="1.0.0.0" Manufacturer="LelShotter" UpgradeCode="e7baad0d-b39e-4656-b47c-3cff16d77ccc">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="LelShotter" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="LelShotter" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent">
			  <File Id="LelShotterExecutable" Name="$(var.LelShotter.TargetFileName)" Source="$(var.LelShotter.TargetPath)" DiskId="1" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
