<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LelShotter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <userSettings>
    <LelShotter.Properties.Settings>
      <setting name="SavePath" serializeAs="String">
        <value>%USERPROFILE%\LelShotter</value>
      </setting>
      <setting name="AutoStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VerboseMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UsedFormat" serializeAs="String">
        <value>PNG</value>
      </setting>
      <setting name="UploadMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClipboardMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayPopups" serializeAs="String">
        <value>True</value>
      </setting>
    </LelShotter.Properties.Settings>
  </userSettings>
</configuration>

